<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>参与投票</title>
</head>
<body>
<h1>参与投票</h1>
    <b>此投票不存在</b>
<br /><a href="/home" style="text-align:center"> 返回</a>
</body>
</html>