<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<h2 align="center">欢迎您,<%=name%></h2>
<br /><a href="/vote/list" style="text-align:center"> 参与投票 </a>
<br /><a href="/vote/stats" style="text-align:center"> 数据统计 </a>
</body>
</html>