<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>修改投票</title>
</head>
<body>
<h1>修改投票</h1>
<%if(JSON.stringify(data) == "{}"){%>
    <b>目前没有投票</b>
<br /><a href="/vote/add" style="text-align:center"> 新建投票 </a>
<br /><a href="/" style="text-align:center"> 返回</a>
<%}else{%>
    <%for(let i in data){%>
        <b><%=data[i]%></b>&emsp;&emsp;<input type="button" onclick=<%="window.location.href="+"'/vote/patch/"+i+"'"%> value="修改">
    <%}%>
<%}%>
</body>
</html>