<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>添加投票</title>
</head>
<body>
<form action="/vote/add" id="voteForm" method="post">
    <textarea rows="5" cols="50" name="object" form="voteForm"></textarea>
    <br />
    <input type="submit">
</form>
<br>
</body>
</html>